@import 'calendar.scss';

.text-mark {
  font-weight: bold;
  background: #d7dcff;
  padding: 0 0.2em;
  border-radius: 4px;
}

p {
  &.font-fraktur {
    font-size: 1.1rem;
    color: #272727;
  }
}

h5 {
  &.font-fraktur {
    font-size: 1.7rem;
    line-height: 1.5;
  }
}

.font-fraktur {
  font-family: 'UnifrakturCook', cursive;
}